@model Dish

@{
    ViewData["Title"] = "Edit Dish";
}

<div class="text-center">
    <h1 class="display-4">Edit Dish #@Model.DishId</h1>
    <form asp-action="UpdateDish" asp-controller="Home" method="post" asp-route-dishId='@Model.DishId'>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <span asp-validation-for="Chef" class="error-msg"></span>
                <label asp-for="Chef"></label>
                <input asp-for="Chef">
            </div>
            <div>
                <span asp-validation-for="Name" class="error-msg"></span>
                <label asp-for="Name"></label>
                <input asp-for="Name">
            </div>
            <div>
                <span asp-validation-for="Calories" class="error-msg"></span>
                <label asp-for="Calories"></label>
                <input asp-for="Calories">
            </div>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Tastiness" class="error-msg"></span>
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div>
                <span asp-validation-for="Description" class="error-msg"></span>
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Edit Dish</button>
            <a href="/@Model.DishId" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    </form>
</div>
