@model List<Dish>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>

    <h3>Check out some recent dishes!</h3>
    @foreach (Dish dish in Model)
    {
        <p>
            <span><a href="/@dish.DishId">@dish.Name</a></span> by @dish.Chef
        </p>
    }
    <hr/>

    @* If we wanted to also show a different List<Dish> (i.e. all dishes), we could use ViewModel to send 2 different lists from the controller!  *@
</div>
