@model List<Dish>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <h3>Check out some recent dishes!</h3>

    @foreach (Dish dish in Model)
    {
        <p>
            @dish.Name by @dish.Chef
        </p>
    }

</div>
